@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

:root {
  --black: #000000;
  --light-black: #3e000b;
  --grey: #848484;
  --white: #ffff;
  --orange: #f17c07;
  --light-brown: #ab590c58;
  --brown: #ab580c;
  --light-beige: #ffecd1;
  --header-height: 0px;
}
/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: var(--light-beige); */
  font-size: 2rem;
  color: var(--light-black);
}

/* FLEX AND GRID */

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.container-small {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}
.container-large {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
}

.container-xlarge {
  max-width: 180rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}

/* BUTTONS */

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: 40px;
  /* align-self: center; */
  transition: all 0.5s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--orange);
  color: var(--white);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--brown);
  color: var(--white);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--white);
  color: var(--light-black);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--light-beige);
  box-shadow: inset 0 0 0 4px var(--white);
}

.btn--transition {
  transform: translateY(-5px);
}

/* TITLE STYLES */

.subheading {
  color: var(--orange);
  font-size: 2rem;
  font-weight: 600;
}

.heading-secondary {
  font-size: 4rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--brown);
  margin-bottom: 3.2rem;
}

.step-number {
  color: var(--light-brown);
  font-size: 9.2rem;
  font-weight: 600;
}

/* PARAGRAPH STYLES  */

.paragraph-description {
  font-size: 2rem;
  font-weight: 400;
}

.disclaimer {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-style: italic;
}

.bold-text {
  font-weight: 600;
}

/* MARGINS */

.margin-top {
  margin-top: 2rem;
}

/* ICONS */
.icon {
  max-width: 3rem;
  height: 3rem;
  margin-left: 2rem;
}

.test {
}

.slider-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 1em;
  overflow-x: auto;
  scroll-behavior: smooth; /* scroll suave */
  padding: 4em 0;
  scroll-snap-type: x mandatory; /* para snap */
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 100%; /* ocupa 100% del contenedor */
  height: 700px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* flex: 0 0 400px;
  height: 280px; */
  background-color: #4caf50;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  scroll-snap-align: start; /* snap en cada slide */
  transition: transform 0.3s ease; /* efecto smooth al pasar hover */
  overflow: hidden;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--light-beige);
  border: none;
  color: var(--black);
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
}
.logo {
  margin-right: 4rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-color: rgba(255, 255, 255, 0.95); /* semiopaco para todos */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* solo sombra ligera */
}

/* Desktop específico */
@media (min-width: 64em) {
  .header {
    height: 80px; /* ajusta al tamaño real */
    /* padding: 0 10rem; */
  }
}

/* Mobile */
@media (max-width: 63em) {
  .header {
    height: 60px;
    /* padding: 0 1rem; */
  }
}
